@{
    Layout = null;

    Azeroth.WCH.Model.UserInfo userInfo = this.Session["userInfo"] as  Azeroth.WCH.Model.UserInfo;
    userInfo = userInfo ?? new Azeroth.WCH.Model.UserInfo() {  NickName="游客"};

    List<Azeroth.WCH.Model.DTO.MenuInfo> lstMenu = this.ViewData["lstMenu"] as List<Azeroth.WCH.Model.DTO.MenuInfo>;
    lstMenu.ForEach(x => x.Url = (x.Url ?? string.Empty).ToLower());//全部转小写

    var dictmenu = lstMenu.ToDictionary(x => x.Id, x => x);
    lstMenu.ForEach(x => x.Parant = dictmenu.ContainsKey(x.Pid) ? dictmenu[x.Pid] : null);
    lstMenu.Where(x => x.Parant != null).ToList().ForEach(x => x.Parant.Chirldren.Add(x));
    var lstNav = lstMenu.Where(x => x.Pid == Guid.Empty).ToList();
    lstNav.ForEach(x => {
        var lstTmp = x.Chirldren.SelectMany(a => a.Chirldren).ToList();
        lstTmp.AddRange(x.Chirldren);
        if (string.IsNullOrEmpty(x.Url))
        {
            x.Url = (lstTmp.OrderBy(a => a.NotAuthorizition).FirstOrDefault(a => !string.IsNullOrEmpty(a.Url)) ?? new Azeroth.WCH.Model.DTO.MenuInfo()).Url;
        }
    });

    var path = this.Request.Url.AbsolutePath.ToLower();
    path = path.TrimEnd('/');

    var activeMenu = lstMenu.Where(x => x.Url.IndexOf(path) >= 0).OrderBy(x => x.Pid).LastOrDefault();
    var lstBread = Azeroth.WCH.Model.DTO.MenuInfo.GetActiveTree(activeMenu);
}

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/favicon.ico">

    <title>@(this.ViewBag.Title)</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Assets/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="~/Assets/bootstrap/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/Assets/css/dashboard.css" rel="stylesheet" />
    <link href="~/Assets/bootstrap-toastr-2.1.4/content/toastr.css" rel="stylesheet" />
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="~/Assets/bootstrap/js/ie8-responsive-file-warning.js"></script><![endif]-->
    @*<script src="~/Assets/bootstrap/js/ie-emulation-modes-warning.js"></script>*@
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
        <script src="~/Assets/bootstrap/js/html5shiv.min.js"></script>
        <script src="~/Assets/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <style>
        .nav-active {
            color: #ffffff !important;
            background-color: transparent !important;
        }

        .main {
            min-height: 1200px;
        }

        .nav-sidebar .active > a,
        .nav-sidebar .active > a:focus,
        .nav-sidebar .active > a:hover {
            color: #fff;
            background-color: #428bca !important;
        }

        .nav-sidebar > li a {
            padding-left: 15px;
        }

        .nav-sidebar > li > ul > li a {
            padding-left: 25px;
        }

        .nav-sidebar > li > ul a:hover {
            border-left: 3px solid #428bca;
        }

        .breadcrumb{
            margin-bottom:10px;
        }
        .executing {
            position: fixed;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            overflow: hidden;
            z-index: 9999;
            background-color: #808080;
            opacity: 0.4;
        }

    </style>

    @(RenderSection("style", false))

      <script src="~/Assets/js/jquery-1.12.4.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="~/Assets/bootstrap/js/ie10-viewport-bug-workaround.js"></script>
    <script src="~/Assets/bootstrap-toastr-2.1.4/scripts/toastr.js"></script>
    <script type="text/javascript">
        //$(function () {
        //    $(".sidebar a[data-toggle=collapse]").bind("click", {}, function () {
        //        //处理菜单的折叠，右边的指示箭头
        //        $(".sidebar .in").collapse("hide");
        //        //var triggers = $(".sidebar a[data-toggle=collapse]").not(this);
        //        //triggers.find(".glyphicon-chevron-down").hide();
        //        //triggers.find(".glyphicon-chevron-right").show();
        //        //$(this).find(".glyphicon-chevron-down").toggle();
        //        //$(this).find(".glyphicon-chevron-right").toggle();
        //    });
        //});

    </script>
    @(RenderSection("script", false))
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/Home/Index"><span class="glyphicon glyphicon-gift"></span><span></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        foreach (var l1menu in lstNav)
                        {
                            <li><a class="@(l1menu.Forcus ? "nav-active" : string.Empty)" href="@(l1menu.Url)">@(l1menu.DisplayName)</a></li>
                        }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="@(!this.User.Identity.IsAuthenticated ? "hidden" : string.Empty)"><a href="#">@(userInfo.NickName)</a></li>
                    <li class="@(this.User.Identity.IsAuthenticated ? "hidden" : string.Empty)"><a href="~/Account/Login">登陆</a></li>
                    <li class="@(!this.User.Identity.IsAuthenticated ? "hidden" : string.Empty)"><a href="~/Account/Signout">注销</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <ol class="breadcrumb">
                @{
                    for (int i = 0; i < lstBread.Count; i++)
                    {
                        if (i == lstBread.Count - 1)
                        {
                            <li class="@(i==(lstBread.Count-1)?"active":string.Empty)">@(lstBread[i].DisplayName)</li>
                        }
                        else
                        {
                            <li class="@(i==(lstBread.Count-1)?"active":string.Empty)"><a href="@(lstBread[i].Url)">@(lstBread[i].DisplayName)</a></li>
                        }
                    }
                }
            </ol>
        </div>
        @(RenderBody())
        <footer class="footer">
            <div class="col-sm-offset-3  col-md-offset-2">
                <p class="pull-right"><a href="#">返回顶部</a></p>
                <p>&copy; @(DateTime.Now.Year) 丢了光影</p>
            </div>
        </footer>
    </div>


        <div id="" class="executing fade">

    </div>
</body>
</html>
